@using RockwellBlog.Services
@inject IBlogFileService _fileService
@model IEnumerable<Post>

@{
    ViewData["Title"] = "Landing Page";
}

<!-- Main Content-->
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var post in Model.OrderByDescending(c => c.Created))
        {
            <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                <div class="card border-dark">
                    <img class="img-fluid" src="@_fileService.DecodeImage(post.ImageData, post.ContentType)" />
                    <div class="card-body text-center">

                        <div class="bg-warning">
                            <hr class="card-hr" />
                            <h5 class="card-title">Digital Portfolio</h5>
                            <hr class="card-hr" />
                        </div>
                        <div>
                            <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">
                                <h2 class="post-title">@post.Title</h2>
                                <h3 class="post-subtitle">@post.Abstract</h3>
                            </a>
                            <p class="post-meta">
                                Posted by Samuel Musa on @post.Created.ToString("MMM dd, yyyy")
                            </p>
                        </div>

                        <br />
                        <div class="text-center">
                            <a class="btn btn-dark btn-block btn-sm" asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">Read Full Post</a>
                        </div>



                    </div>
                </div>
            </div>




            @*<div class="post-preview">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" src="@_fileService.DecodeImage(post.ImageData, post.ContentType)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-dark btn-block btn-sm" asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">Read Full Post</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">
                            <h2 class="post-title">@post.Title</h2>
                            <h3 class="post-subtitle">@post.Abstract</h3>
                        </a>
                        <p class="post-meta">
                            Posted by Samuel Musa on @post.Created.ToString("MMM dd, yyyy")
                        </p>
                    </div>
                </div>
            </div>*@
            <hr />
        }
        <div class="col">
            <div class="card">
                <h5 class="card-header">Search Keywords</h5>
                <div class="card-body">
                    <!-- Search Form -->
                    <form class="form" asp-action="SearchIndex" asp-controller="Posts" method="get">
                        <div class="input-group">
                            <input class="form-control" type="search" name="SearchString" placeholder="Enter keyword" />
                            <button class="btn-sm btn-dark" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Pager-->
        <div class="clearfix"><a class="btn btn-primary float-right" href="#!">Older Posts →</a></div>
    </div>
</div>